@model WebApplication2.Models.Favorite

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Favoriteid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Favoriteid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
