@model WebApplication2.Models.user

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutusers.cshtml";
}
</div>
<div id="Body">
    <div id="Sidebar">
        <div class="Widget">
            <h2 class="login">أهلًا بك @Html.DisplayFor(model => model.Username)</h2>

            <div style="margin-right:12px;margin-top:4px;width: 120px; height: 110px; position: relative; background-color: #fbfbfb;   border: 1.5px solid #b8b8b8; " data-controltype="image">

                <img src="http://d.fastcompany.net/multisite_files/fastcompany/fc_files/profile/2219225-austin-carr-profile.jpg" alt="image" style="position:     absolute; margin-left: 0px; margin-top: -18px;margin-right:0px;width: 120px; height: 130px">
            </div>
            <div class="Widget_Login">

                <ul>
                   
                    <li><a>التقييم: @Html.DisplayFor(model => model.Rating)</a></li>
                    <li><a>الصفقات المنفذة{number}</a></li>
                    <li><a>الصفقات الغير منفذة{number}</a></li>
                    <li><a href="~/users/Myfavroite">قائمة المفضلين</a></li>

                    <li>@Html.ActionLink("إعدادات الحساب","Edit",new { id=Model.UserID })</li>

                    <li><a href="~/logout">تسجيل الخروج</a></li>


                </ul>

            </div>
            <!--/Widget_Login-->
        </div>

        <!--/Widget-->
        <!--/Sidebar-->
    </div>
    <center>
        <div>
            <h4>user</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Picture)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>

            </dl>
        </div>
        </center>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
