@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}



@if (Session["AdminID"] == null)
{
    Response.Redirect(Url.Action("index", "home", null));
}



<div id="Content">


            <h2> الرجاء تعبئة جميع الحقول أدناه لإضافة مستخدم جديد: </h2>
            <form action="DoAddUser.php" method="post">
                <input type="text" name="name" class="login_email" placeholder="اسم المستخدم ..."><br>
                <input type="text" name="mobileNumber" class="login_email" placeholder="رقم الجوال ..."><br>
                <input type="text" name="email" class="login_email" placeholder="البريد الالكتروني ..."><br>
                <input type="password" name="password" class="login_pass" placeholder="كلمة المرور ..."><br>
                <input type="password" name="repassword" class="login_pass" placeholder="إعادة كلمة المرور ..."><br>
                <ul></ul>
                <input type="submit" value="إضافة" name="submit" class="login_go">
                <input type="submit" value="رجوع" name="submit1" class="login_go">

            </form>




        </div>


  
<!--/Content-->

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Admin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
