@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutusers.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Password) 
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Country)
        </td>
        <td>
            @Html.DisplayFor(model => model.Mobile)
        </td>
        <td>
            @Html.DisplayFor(model => model.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=@Model.AdminID }) |
            @Html.ActionLink("Details", "Details", new { id= @Model.AdminID }) |
            @Html.ActionLink("Delete", "Delete", new { id= @Model.AdminID })
        </td>
    </tr>


</table>
